<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developers</title>
    <link rel="icon" href="/static/images/perry.jpeg" type="image/png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='devspage.css') }}">
</head>
<body bgcolor=#FFF1BD >
    <div id="preloader"></div>
    <nav>
        <div class="wrapper">
          <div class="logo"><font style="color: #F0BB62; font-size: 65px;">d</font>evs<font style="color: #F0BB62;">.</font></div>
          <ul class="nav-links">
            <li><a href="/">Perry</a></li>
            <li><a href="https://forms.gle/wzYLoPvVT9MrgpmRA" target="_blank">Feedback</a></li>
          </ul>
        </div>
      </nav>
      <br><br><br><br><br><br><br><br>
      <!-- teams section start -->
  <section class="teams" id="teams">
    <div class="max-width"> 
            <div class="card floating">
                <div class="box">
                    <div class = "one">
                        <img src="/static/images/profile-2.jpeg" alt="">
                        <div class="text">Swagata Chakraborty</div>
                        <p class = "para">B.Sc Final year</p>
                        <p class="para">St. Xavier's College (Autonomous) Kolkata</p>
                        <p>&nbsp;</p>
                        <div class="social">
                            <a href="https://github.com/swagatac652" target="_blank"><i class="fab fa-github" style="font-size:24px; padding: 12px;"></i></a>
                            <a href="https://twitter.com/Swagata55753058" target="_blank"><i class="fab fa-twitter" style="font-size:24px;padding: 12px;"></i></a>
                            <a href="https://www.linkedin.com/in/swagata-chakraborty-3bab06193/" target="_blank"><i class="fab fa-linkedin-in" style="font-size:24px;padding: 12px;"></i></a>
                            <a href="mailto:swagatac652@gmail.com" target="_blank"><i class="fa fa-envelope" style="font-size:24px;padding: 12px;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card floating">
                <div class="box">
                    <div class = "two">
                        <img src="/static/images/profile-3.jpeg" alt="">
                        <div class="text">Anubhav Sarkar</div>
                        <p class = "para">B.Sc Final year</p>
                        <p class="para">St. Xavier's College (Autonomous) Kolkata</p>
                        <p>&nbsp;</p>
                        <div class="social">
                            <a href="https://github.com/overflowA17" target="_blank"><i class="fab fa-github" style="font-size:24px; padding: 12px;"></i></a>
                            <a href="https://twitter.com/AnubhavSarkar10" target="_blank"><i class="fab fa-twitter" style="font-size:24px;padding: 12px;"></i></a>
                            <a href="https://www.linkedin.com/in/anubhav-sarkar/" target="_blank"><i class="fab fa-linkedin-in" style="font-size:24px;padding: 12px;"></i></a>
                            <a href="mailto:sarkaranubhav2001@gmail.com" target="_blank"><i class="fa fa-envelope" style="font-size:24px;padding: 12px;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card floating">
                <div class="box">
                    <div class = "three">
                        <img src="/static/images/profile-4.jpeg" alt="">
                        <div class="text">Subhajit Saha</div>
                        <p class = "para">B.Sc Final year</p>
                        <p class="para">St. Xavier's College (Autonomous) Kolkata</p>
                        <p>&nbsp;</p>
                        <div class="social">
                            <a href="https://github.com/subhajit2001" target="_blank"><i class="fab fa-github" style="font-size:24px; padding: 12px;"></i></a>
                            <a href="https://twitter.com/subhajitsaha79" target="_blank"><i class="fab fa-twitter" style="font-size:24px;padding: 12px;"></i></a>
                            <a href="https://www.linkedin.com/in/subhajitsaha2001/" target="_blank"><i class="fab fa-linkedin-in" style="font-size:24px;padding: 12px;"></i></a>
                            <a href="mailto:subhajit.earth@gmail.com" target="_blank"><i class="fa fa-envelope" style="font-size:24px;padding: 12px;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<script>
    var loader = document.getElementById("preloader");
    window.addEventListener("load", function(){
      loader.style.display = "none";
    })
</script>
</body>
</html>
